<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= content_for(:title) || "Pedro Moreira" %></title>
    <meta name="description" content="<%= content_for(:description) || "Software developer, occasional writer." %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
    <%= render "application/person_structured_data" %>
    <%= yield :head %>
  </head>
  <body>
    <%= render "application/header" %>
    <main>
      <%= yield %>
    </main>
    <%= render "application/footer" %>
  </body>
</html>
